%h1 Bem vindo
.welcome
  - if user_signed_in?
    %p= "Bem vindo #{current_user.name}"
  - else
    %p= link_to "Registre-se", new_user_registration_path
    %p= link_to "Login", new_user_session_path
